.scroll-container{
  width: 100%;
  .scroll-button{
    position: absolute;
    border-radius: 50%;
    padding: .8rem;
    background: rgba(255, 255, 255, .5);
    &:hover{
      background: rgba(255, 255, 255, .8);
    }
  }
  .active{
    // transform: scale(1.2);
  }
  .scroll-body{
    width: 100%;
    overflow-x: auto;
    &>*{
      flex-shrink: 0;
    }
  }
}